agno
pgvector
sqlalchemy
langchain-text-splitters
pypdf
fastapi
uvicorn
python-dotenv
pydantic
requests
transformers
pymupdf
streamlit
openai
mistralai
groq
anthropic
einops
langchain_community
ollama
serpapi
crawl4ai
asyncio
langchain
google-search-results
playwright
aiohttp
psycopg2-binary
google-genai
SpeechRecognition
gTTS
pydub
langextract
langchain-huggingface